html {
	background-color: LemonChiffon;
}
body {
	background-color: LemonChiffon;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 60px;
}

@media (max-width: 767px)
body {
	padding: 0xp 0px !important;	
}

form {
	margin: 0px;
}

input[type="file"] {
	line-height: 15px;
}

input#search-field {
	margin-top: 5px;
	width: 160px;
}

ul {
	list-style: disc;
}

ul.nav li {
	padding: 0px 5px;
}

.brand {
	margin: 0px 10px;	
}

.container>hr {
	margin: 60px 0;
}

.full-screen-image {
	width: 100%;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 80px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.lightbox-caption {
	border: 1px solid yellow;	
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar .brand {
	margin-left: 0px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav>li {
	display: block;
	float: left;
}

.picture-dialog-content {
	overflow-x: hidden
}

.sharealike-button-bar {
	padding: 0px 10px;	
}

.thumbnail {
	background-color: FloralWhite;
	text-align: center;
	font-size: 12pt;
	color: #777;
	text-shadow: 0 1px 0 #fff;
}

.thumbnail>img {
	height: 100px;	
	width: 100px;
}

.thumbnail-container {
	margin: 20px 20px;	
}

#search-results .modal-body {
	position: relative;
	max-height: none;
	padding: 0px;
	overflow-y: auto;
}

#search-results .row {
	
}

