<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <title>Poochable, adorable pics of your dog!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/poochable.css" rel="stylesheet" media="screen">
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/lib/bootstrap-lightbox/css/bootstrap-lightbox.min.css" rel="stylesheet">
	
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/lib/html5shiv/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/static/img/favicon.png">
  </head>
  <body>
	<div id="header" class="navbar navbar-top">
  		<div class="navbar-inner">
    		<div class="container container-full-width">
    			<div class="row">
    				<div class="span3"><a href="/" class="brand">Poochable</a></div>
    				<div class="span8 pull-right">
    					<form id="search-form">
	             			<input type="text" id="search-field" name="term" class="input-medium search-query" placeholder="Find a pooch" autocomplete="off">
	             			<div class="btn-group">
	             				<a id="search-button" class="btn"><i class="icon icon-search"></i>&nbsp;Search</a>
		             			<!--<button type="button" id="search-button" class="btn"><i class="icon icon-search"></i>&nbsp;<span style=font-size:14pt">Search</span></button>-->
							</div>
							<div class="btn-group">
								<a class="btn btn-primary" id="post-button" data-toggle="modal" href="#post-picture-modal">Share pics&nbsp;<span class="icon icon-camera icon-white"></span></a>
							</div>
	         			</form>
    				</div>
    			</div>
    		</div>
	  	</div>
	</div>

	{% load staticfiles %}
    <div id="main-carousel" class="carousel slide" data-interval="90000">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "ErnestUpClose.png" %}" alt="">
        </div>
        <div id="search-results" class="item">
        	<div class="modal-body">
        	</div>
        </div>
      </div>
      <!-- 
      <a class="left carousel-control" href="#main-carousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#main-carousel" data-slide="next">&rsaquo;</a>
      -->
    </div>

   	<div class="footer">
    </div>

	<div id="post-picture-lightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
		<div class="lightbox-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="lightbox-content">
			
		</div>
	</div>
    	
	<div id="post-picture-modal" class="modal hide fade">
		<form action="/api/pooch" method="POST" enctype="multipart/form-data">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="muted text-info">We love pics! &nbsp;<span class="icon icon-heart"></span></h4>
		</div>
		<div class="modal-body">
			<div>
				<fieldset>
					    <div class="control-group controls controls-row">
					    	<div class="span6">
							    <label>Tell us about you</label>
							    <input name="person_first_name" type="text" placeholder="First" class="span2"></input>
							    <input name="person_middle_name" type="text" placeholder="M" class="span1"></input>
							    <input name="person_last_name" type="text" placeholder="Last" class="span3"></input>
						    </div>
					    </div>
					    <div class="control-group controls controls-row">
					  		<div class="span6">
							    <label for="dog_name">... and your pooch</label>
							    <input name="dog_name" type="text" placeholder="Enter your dog's name" required></input>
						    </div>
					    </div>
					    <div class="control-group controls controls-row">
						    <div class="span6">
								<input name="attachment" class="attachment span6" type="file" required></input>
							</div>
						 </div>
				</fieldset>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button id="upload-button" class="btn btn-primary" type="button">Upload</button>
		</div>
		{% csrf_token %}
		</form>
	</div>

    <script src="/static/lib/jquery/js/jquery-1.9.1.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/lib/bootstrap-lightbox/js/bootstrap-lightbox.min.js"></script>

	<script type="text/javascript"><!--
		$(document).ready(function() {
		  	
		  	var app = {};
		  	app.clear_modal = function() {
		  		var modal = $('#post-picture-modal');
		  		modal.find('.control-group').removeClass('error');
		  		modal.find('.help-inline').remove();
		  		modal.find('form')[0].reset();
		  	};
		  	app.bad_request = function (jqXHR, textStatus, errorThrown) {
		  		var modal = $('#post-picture-modal');
		  		var errors = $.parseJSON(jqXHR.responseText);
		  		
		  		for (var key in errors) {
		  			var selector = '[name="' + key + '"]';
		  			var error = errors[key][0];
		  			var el = modal.find(selector);
		  			el.after('<span class="help-inline">' + error + '</span>');
		  			el.closest('.control-group').addClass('error');
		  		}
		  	};
		  	app.failure = function() {
		  		alert('Something went seriously wrong');
		  	};
		  	app.search = function() {
		  		var data = $('#search-form').serialize();
		  		var search_results = $('#search-results');
		  		
		  		search_results.load("/search", data);
		  		if (! search_results.hasClass('active')) {
			 		$('#main-carousel').carousel('next');
				  	$('#main-carousel').carousel('pause');
			  	}
		  	};
		  	app.success = function() {
		  		$('#post-picture-modal').modal('hide');
		  	};
		  	
		  	$('#post-picture-modal').on('hidden', app.clear_modal);
		  	
		  	$('#post-picture-lightbox').bind('shown', function(event) {
		  	
		  	});
		  	
		  	$('#search-button').click(function() {
		  		app.search();
		  	});
		  	
		  	$('#search-form').submit(function() {
		  		app.search();
		  		return false;
		  	});
		  	
		  	$('#upload-button').click(function() {
		  		var modal = $('#post-picture-modal');
		  		var data = new FormData();
				jQuery.each(modal.find('.attachment')[0].files, function(i, file) {
				    data.append('attachment', file);
				});
				jQuery.each(modal.find(':input'), function(i, input) {
					var el = $(input);
					var name = el.attr('name');
					var value = el.val();
					data.append(name, value);
				});

				app.clear_modal();
				$.ajax({
				  url: '/api/pooch',
				  data: data,
				  processData: false,
				  contentType: false,
				  type: 'POST',
				  statusCode: {
				  	200: app.success,
				  	400: app.bad_request,
				  	500: app.failure,
				  }
				});
		  	
		  	});
		  	
		  	// Extending bootstrap-lightbox to load the href data 
		  	$(document).unbind('click.lightbox.data-api');
		  	$(document).on('click.lightbox.data-api', '[data-toggle="lightbox"]', function (e)
			{
				var $this = $(this);
				var href  = $this.attr('href');
				var $target = $($this.attr('data-target') || (href && href.replace(/.*(?=#[^\s]+$)/, ''))); //strip for ie7
				var option = $target.data('lightbox') ? 'toggle' : $.extend({ remote:!/#/.test(href) && href }, $target.data(), $this.data());
				var img    = $this.attr('data-image') || false;
				var $imgElem;
				
				$target
					.find('.lightbox-content')
					.load(href);
		
				e.preventDefault();
		
				if(img)
				{
					$target.data('original-content', $target.find('.lightbox-content').html());
					$target.find('.lightbox-content').html('<img border="0" src="'+img+'" />');
				}
		
				$target
					.lightbox(option)
					.one('hide', function () 
					{
						$this.focus()
					})
					.one('hidden',function ()
					{
						if( img )
						{
							$target.find('.lightbox-content').html( $target.data('original-content') );
							img = undefined;
						}
					});
				
			})
		  	
		});
	--></script>

  </body>
</html>