{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <title>Sharealike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static "/static/lib/bootstrap/docs/assets/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "/static/shareserver/css/sharealike.css" %}" rel="stylesheet" media="screen">
    
	<link href="{% static "/static/lib/bootstrap-lightbox/build/bootstrap-lightbox.css" %}" rel="stylesheet">
	
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "/static/lib/html5shiv/js/html5shiv.js" %}"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="/static/img/favicon.png">-->
  </head>
  <body>
  	<form id="search-form" action="#search" method="GET">
		<div id="header" class="navbar navbar-top">
	  		<div class="navbar-inner">
	    		<div class="container container-full-width">
	    			<a href="/" class="brand">Sharealike - photo sharing</a>
	    			<ul class="nav">
	    				<li>
	    					<div>
	    						<i class="icon icon-search"></i>
		    					<input type="text" id="search-field" name="term" class="input-medium" placeholder="Find by post or person" autocomplete="off">
		    				</div>
	    				</li>
	    				<li>
	    					<div class="btn-group">
		             			<button id="search-button" type="submit" class="btn">Search</button>
		             			<a href="#browse" id="browse-button" type="button" class="btn browse">Browse</a>
								<a class="btn btn-primary" id="post-button" data-toggle="modal" href="#share-dialog">Share&nbsp;<span class="icon icon-camera icon-white"></span></a>
							</div>
						</li>
	    			</ul>
	    			<!-- 
	    			<ul class="nav pull-right">
	    				<li>
	    					<div class="btn-group">
			    				<a class="btn" id="sign-in-button">Sign in</a>
			    				<a class="btn" id="sign-up-button">Sign up</a>
			    			</div>
		    			</li>
	    			</ul>
	    			 -->
	    		</div>
		  	</div>
		</div>

	    <div id="main-carousel" class="carousel slide" data-interval="90000">
	      <div class="carousel-inner">
	      	{% if pictures %}
		      	{% for picture in pictures %}
			        <div class="item active">
			          <img src="{{ picture.image.url }}" alt="" class="full-screen-image">
			        </div>
		        {% endfor %}
	        {% endif %}
	        <div id="search-results" class="item">

	        </div>
	      </div>
	    </div>
	</form>
	
   	<div class="footer">
    </div>
    	
	<div id="share-dialog" class="modal hide fade">
		<form id="share-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="muted text-info">Post something</h4>
			</div>
			<div class="modal-body">
				<div class="picture-dialog-content">
					<div id="picture-dialog-notification"></div><!--
				    <div class="control-group controls controls-row">
				    	<div class="span4">
						    <label>Tell us about you</label>
						    <input name="person_first_name" type="text" placeholder="First" style="width:140px;"></input>
						    <input name="person_middle_name" type="text" placeholder="M" style="width:20px;"></input>
						    <input name="person_last_name" type="text" placeholder="Last" style="width:140px;"></input>
					    </div>
				    </div>
				    -->
				    <div class="control-group controls controls-row">
				  		<div class="span6">
						    <input id="share-title" type="text" name="share_title" placeholder="Provide a topic" required></input>
					    </div>
					    <div class="span6">
					    	<textarea id="share-content" name="share_content" class="span5" placeholder="Share your thoughts"></textarea>
					    </div>
				    </div>
				    <div class="control-group controls controls-row">
					    <div class="span4">
							<input id="share-attachment" name="share_attachment" type="file" required></input>
						</div>
					 </div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button id="upload-button" class="btn btn-primary" type="button">Upload</button>
			</div>
			{% csrf_token %}
		</form>
	</div>

	{% verbatim %}
   	<script id="share-dialog-alert-template" type="text/x-handlebars-template">
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Warning!</strong> Something went seriously wrong!
		</div>
	</script>
	<script id="search-result-template" type="text/x-handlebars-template">
		<div class="thumbnail-container">
			<ul class="thumbnails">
				{{#each results}}			
				<li>
					<a class="thumbnail" data-toggle="lightbox" href="#lightbox-{{ id }}">
						<img alt="Thumbnail of {{ share_title }}" src="{{ url }}"> <p>{{ share_title }}</p>
					</a>
					<div id="lightbox-{{ id }}" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
						<div class='lightbox-header'>
							<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
						</div>
						<div class='lightbox-content'>
							<img src="{{ url }}">
							<div class="lightbox-caption"><h4>{{ share_title }}</h4><p>{{ share_content }}</p></div>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</script>
	{% endverbatim %}
	<script data-main="{% static "/static/shareserver/js/index.js" %}" src="{% static "/static/lib/requirejs/require.js" %}"></script>
  </body>
</html>
